$key-size: 55px;

.w {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;

  &__l {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;

    &__t,
    &__b {
      display: flex;
      flex: 1;
      position: relative;

      &__s {
        position: absolute;
        font-size: 80px;
        z-index: 2;
        color: #3f4147;
      }
    }

    &__t {
      &__s {
        top: 130px;
      }
    }

    &__b {
      &__s {
        bottom: 130px;
      }
    }

    &__m {
      display: flex;
      height: 50px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 84px;
    }

    &__b {
      align-items: flex-end;
      display: flex;
    }
  }

  &__r {
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 50%;

    &__t {
      display: flex;
      flex-direction: column;

      .pill {
        display: inline-flex;
        background: #1b1f24;
        border-radius: 50px;
        flex-direction: row;
        align-items: center;
        height: 75px;
        padding: 0 20px;

        &__desc {
          font-size: 16px;
          opacity: 0.5;
          padding-right: 16px;
        }

        &__value {
          font-size: 50px;
        }
      }

      &__t {
        align-items: flex-end;
        padding-bottom: 20px;
      }

      &__b {
        align-items: flex-start;
        padding-top: 20px;
      }

      &__t,
      &__b {
        height: 50%;
        display: flex;
        justify-content: center;
      }
    }

    &__t,
    &__b {
      height: 50vh;
      display: flex;
    }

    &__b {
      display: flex;
      flex-direction: column;

      &__t {
        background: url('../assets/hotkeys.jpg');
        height: 230px;
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
      }

      &__b {
        display: flex;
        flex: 1;
        justify-content: center;
        margin-right: 40px;
        flex-direction: column;
        align-items: flex-end;

        table {
          width: 200px;

          .pill {
            background: #1b1f24;
            padding: 11px;
            border-radius: 50px;
          }

          tr {
            th {
              text-align: left;
              height: 50px;
            }
          }

          tr {
            height: 50px;
          }
        }
      }
    }
  }


}

.m {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: inline-flex;
  justify-content: center;

  &__c {
    background: #f0f0f0;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    border-radius: 8px;
    z-index: 1;

    &--r {
      margin-left: -102px;
    }
  }
}
