.w {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;

  &__l {
    // background: green;
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;

    &__t,
    &__b {
      display: flex;
      flex: 1;
    }

    &__m {
      display: flex;
      height: 50px;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &__score {
        font-size: 33px;
        margin: 0 10px;
        color: #ffffff;
      }

      &__d {
        color: #b4b5b7;
      }
    }

    &__b {
      align-items: flex-end;
      display: flex;
    }
  }

  &__r {
    // background: red;
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;

    &__title {
      color: #ffffff;
      font-size: 30px;
    }
  }
}

.m {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: inline-flex;
  justify-content: center;

  &__c {
    background: #f0f0f0;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    border-radius: 8px;
    z-index: 1;

    &--r {
      margin-left: -102px;
    }
  }
}

.action {
  border: 1px solid #181b20;
  background: #181b20;
  color: #ffffff;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
  width: 60px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 12px;
  cursor: pointer;
  transition: all 0.26s ease-in-out;

  &--active {
    background: rgb(1, 194, 154);
    background: linear-gradient(90deg, rgba(1, 194, 154, 1) 0%, rgba(234, 206, 113, 1) 100%);
    color: #ffffff;
  }

  &__w {
    display: flex;
    flex-direction: column;

    &__t {
      height: 10px;
      text-align: left;
      font-size: 11px;
      font-weight: 600;
      color: #707174;
    }

    &__b {
      height: 25px;
      margin-top: 3px;
      font-size: 22px;
      font-weight: 300;
      text-align: left;
      font-family: 'Poppins';

    }
  }
}
