<ng-container *ngIf="state$ | async as state">
  <main class="main-wrap" [ngClass]="{ 'main-wrap--move': state.modal.show }">
    <div class="w">
      <div class="w__l">
        <div class="w__l__t">
          <span class="w__l__t__s" [innerText]="state.game.score.dealer"></span>
          <div class="m">
            <div class="m__c" [ngClass]="{ 'm__c--r': i !== 0 }"
              *ngFor="let item of state.game.hand.dealer; let i = index;" @fadeAnimation>
              <app-card [symbol]="item.symbol" [rank]="item.rank"></app-card>
            </div>
          </div>
        </div>
        <div class="w__l__m">
          <span *ngIf="state.game.finish" (ngInit)="toggle()"
            [innerText]="gameStatus(state.game.score.player, state.game.score.dealer)"></span>
        </div>
        <div class="w__l__b">
          <span class="w__l__b__s" [innerText]="state.game.score.player"></span>
          <div class="m">
            <div class="m__c" [ngClass]="{ 'm__c--r': i !== 0 }"
              *ngFor="let item of state.game.hand.player; let i = index;" @fadeAnimation>
              <app-card [symbol]="item.symbol" [rank]="item.rank"></app-card>
            </div>
          </div>
        </div>
      </div>
      <div class="w__r">
        <div class="w__r__t">
          <div class="w__r__t__t">
            <span class="pill"><span class="pill__desc">Bet</span><span
                class="pill__value">{{ state.game.stake | number }}</span></span>
          </div>
          <div class="w__r__t__b">
            <span class="pill"><span class="pill__desc">Balance</span><span
                class="pill__value">{{ state.game.balance | number }}</span></span>
          </div>
        </div>
        <div class="w__r__b">
          <div class="w__r__b__t"></div>
          <div class="w__r__b__b">
            <table>
              <tr>
                <th colspan="2">
                  Keyboard Controls
                </th>
              </tr>
              <tr>
                <td><span class="pill">A / Space</span></td>
                <td>Hit</td>
              </tr>
              <tr>
                <td><span class="pill">S</span></td>
                <td>Stay</td>
              </tr>
              <tr>
                <td><span class="pill">↵</span></td>
                <td>Next Hand</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-bet (submitEvent)="init()"></app-bet>
</ng-container>
